:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --rich-black-fogra-29: #000814ff;
  --oxford-blue: #001d3dff;
  --prussian-blue: #003566ff;
  --mikado-yellow: #ffc300ff;
  --gold-web-golden: #ffd60aff;
}
/*html and body classes*/
html {
  font-size: 10px;
  text-transform: capitalize;
  height: 100%;
}
body {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Smokum", cursive;
  font-family: "Source Sans Pro", sans-serif;
  flex-flow: column;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
/*header styling*/
.navbar {
  display: flex;
  flex: 0 1 auto;
  min-height: fit-content;
  background-color: var(--black);
  padding: 1.5rem 1rem;
}
.navbar-links {
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem;
  color: var(--white);
}

.main {
  flex: 1 1 auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
}
.column {
  padding: 0;
}
/*banner styling*/
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.1 1 auto;
  padding: 2rem 0 0 0;
  background-color: var(--prussian-blue);
  color: var(--white);
}
.banner-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.banner-line {
  width: 90%;
}
.banner-button {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  font-size: 1.9rem;
  margin: 2rem;
  background-color: var(--orange-web);
  border: none;
  border-radius: 0.3rem;
  width: 10rem;
  height: 3rem;
  color: var(--white);
}
.banner-button:hover {
  cursor: pointer;
}
.banner-icon {
  padding-right: 0.4rem;
}
/*main content tables*/
.main-content-container {
  display: flex;
  flex: 3 1 auto;
}
.main-tables {
  margin: 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*search table*/
.search-table {
  font-size: 2rem;
  width: 40rem;
  height: 25rem;
}
.table-title {
  text-align: center;
  width: 90%;
  color: var(--black);
}
.search-table-elements {
  margin: 1.2rem;
}
.search-input {
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
.search-button {
  cursor: pointer;
  width: 100%;
  margin: 1rem 0;
  background-color: var(--orange-web);
  border: none;
  border-radius: 0.3rem;
  color: var(--white);
  font-size: 2rem;
  padding: 0.5rem 0;
}
.cities {
  text-align: center;
  margin-top: 1rem;
}
/*temprature table*/
.tempratures-table{
  font-size: 2rem;
}
.current-city {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.box {
  padding: 0;
  margin: 1rem 0;
}
.index-column {
  padding: 1rem;
}
.uv-index {
  background-color: var(--prussian-blue);
  color: var(--white);
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
}
/*footer styling*/
.footer {
  display: flex;
  justify-content: center;
  flex: 0 1 4rem;
  background-color: var(--oxford-blue);
  padding: 1rem 1rem;
  margin-bottom: 0;
}
.footer-link {
  font-size: 2rem;
  text-decoration: none;
  margin: 1rem;
  color: var(--white);
}
